{% extends 'extentions/layouts/layout_users.html.twig' %}

{% block title %}Conseils{% endblock %}

{% block body %}
    <div class="pink-stripe">
        <h1>
            C'est bon, la vie j'ai envoyer y a pas de soucis, super good perfect.
        </h1>
    </div>
    <div class="white-stripe">
        <img src="{{ asset('build/images/LOGO_WILD_CODE_SCHOOL.png') }}"
             alt="">
    </div>
{% endblock %}