{% extends 'front/seller/index.html.twig' %}


{% block body %}
    <h1>Edit your profil</h1>

    {{ include('front/seller/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('seller_account') }}">back to account</a>

{% endblock %}
