#card-gallery{
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid #000000;
    outline-offset: 0px;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    border-top: 0px;
    background-color: white;
    align-items: center;
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0px;
    background-color: white;
}

.masterpiece-name{
    font-size: larger;
}

.cardandinfo{
    display: flex;
    box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.74);
}

.giga-div{
    display: flex;
    margin-top: 3vh;
    flex-direction: column;
    align-items: center;
}

.card-img{
    outline: 5px double #000000;
    outline-offset: 1px;
}

.collapse-horizontal.information.collapsing{
    margin-left: 1vw;
}

.collapse-horizontal.information.collapse.show{
    margin-left: 1vw;
}

.collapse-vertical.message.collapsing{
    margin-top: 1vw;
}

.collapse-vertical.message.collapse.show{
    margin-top: 1vw;
}

.messages-masterpiece{
    width: 288px;
}

i {
    font-size: 40px;
}
