@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Shrikhand&display=swap');
@import "navbar";

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    h1{
        font-family: 'Shrikhand', cursive; 
        text-align: center;
        padding: 40px;
    }

    body{
        font-family: 'Arapey', serif;
        font-size: larger;
    }