<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
        <title>
            {% block title %}{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        
    </head>
    <body>
        <header>
            {% block header %}{% include 'extentions/navbars/navbar_seller.html.twig' %}{% endblock %}
        </header>
        <aside>
           {% block aside %} 

           <div class="container-fluid">
             <div class="row">
                {% include 'extentions/Sidebar/Sidebar_seller.html.twig' %}
                            <div class="col py-3">
                            Content area...{% block body %}{% endblock %}
                            </div>
              </div>
            </div> 
            
           {% endblock %}
        </aside>
        <footer>
            {% block footer %}{% include 'extentions/Footer/Footer.html.twig' %}{% endblock %}
        </footer>
    </body>
    {% block javascripts %}
     {% include 'extentions/script/alert.html.twig' %}
           {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
