{% extends 'extentions/layouts/layout_admin.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
    <div class="pink-stripe">
        <h1>
           Artistes &nbsp;&#129304;
        </h1>
    </div>
    
{% endblock %}