{% extends 'extentions/layouts/layout_admin.html.twig' %}

{% block title %}Nos conditions{% endblock %}

{% block body %}
    <div class="pink-stripe">
        <h1>
          Nos conditions ? &nbsp;&#129304;
        </h1>
    </div>
    
{% endblock %}