<!DOCTYPE html>

<title>New Basket</title>

{% block body %}
    <h1>Create new Basket</h1>

    {{ include('basket/_form.html.twig') }}

    <a href="{{ path('app_basket_index') }}">back to list</a>
{% endblock %}
