{% extends 'front/buyer/index.html.twig' %}


{% block body %}
    <h1>Edit your profil</h1>

    {{ include('front/buyer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('buyer_account') }}">back to account</a>

{% endblock %}
